
/*timeline*/
.time{
	background-color: #f2f2f2;
	text-align: center;
	margin-top: -30px;
	width: 100%;
	height: 1100px;
}
.time h1{
	margin-left: 120px;
	text-align: left;
	margin-bottom: 50px;
}
.time img{
	width: 100%;
	margin-bottom: 50px;
	padding: 30px;
}

/*insight*/
.insight table{
	width: 90%;
	text-align: center;
}
.insight img{
	width: 20%;
}
.insight table tr td{
	padding: 10px;
}
@media screen and (max-width: 700px){
	
	.time{
		background-color: #f2f2f2;
		text-align: center;
		margin-top: -30px;
		width: 100%;
		height: 800px;
	}
	.time h1{
		text-align: left;
		margin-left: 20px;
		font-size: 30px;
		margin-bottom: 20px;
	}
	.time h2{
		font-size: 30px;
	}
	.insight img{
		width: 100%;
	}
}

/*FAQ*/
.faq{
	margin-top: 100px;
	width: 80%;
	margin-left: 10%;
	text-align: left;
}

.faq h1{
	margin-bottom: -40px;
}
.faq input{
	border-radius: 5px;
	margin-left: 72%;
	margin-top: 0px;
	height: 40px;
	width: 300px;
	position: relative;
}

.faq-row{
	margin-top: 5%;
	display: flex;
	justify-content: space-between;
}
.faq-row2{
	display: flex;
	justify-content: space-between;
}

.faq-col{
	flex-basis: 32%;
	background: #f2f2f2;
	border-radius: 10px;
	margin-bottom: 5%;
	padding: 20px 12px;
	box-sizing: border-box;
	transition: 1s;
}
.faq-col a{
	text-decoration: none;
	color: black;
	transition: 1s;
}
.faq-col:hover{
	background: blue;
	color: white;
}
.faq-col:hover a{
	color: white;
}
.faq .kontak h1{
	margin-top: 50px;
}
.faq .kontak .wa{
	margin-top: 20px;
	width: 200px;
	height: 50px;
	font-size: 20px;
	font-weight: 500;
	text-align: center;
	border-radius: 10px;
	background-color: #008000;
	border: solid ;
	color: white;
	margin-right: 10px;
	cursor: pointer;
}
.faq .kontak .email{
	margin-top: 20px;
	width: 200px;
	height: 50px;
	font-size: 20px;
	font-weight: 500;
	text-align: center;
	border-radius: 10px;
	background-color: white;
	border: solid ;
	color: blue;
	cursor: pointer;
	transition: 0.5s;
}
.faq .kontak .email:hover {
	background-color: blue;
	border: solid;
	color: white;
	
}

@media screen and (max-width: 700px){
	
	.faq{
		margin-top: 100px;
		width: 80%;
		margin-left: 0px;
		text-align: left;
	}
	.faq h1{
		margin-left: 20px;
		font-size: 30px;
		margin-bottom: 0px;
	}
	.faq input{
		border-radius: 5px;
		margin-left: 20px;
		margin-top: 10px;
		height: 40px;
		width: 300px;
		position: relative;
	}
	.faq-col p{
		font-size: 15px;
	}
	.faq-col h3{
		font-size: 20px;
	}
	.faq-col{

		padding: 20px 12px;
		margin: 12px 12px 12px 12px;
		transition: 0.5s;
	}
	.faq .kontak h1{
		margin-left: 20px;
		font-size: 30px;
		margin-bottom: -30px;
	}
	.faq .kontak .wa{
		margin-left: 20px;
	}
	.faq .kontak .email{
		margin-left: 20px;
		margin-top: 10px;
	}
}

/*HUB*/
.hub{
	padding-top: 150px;
	text-align: center;
}
.hub button{
	height: 80px;
	width: 300px;
	font-size: 25px;
	font-weight: 600;
	border-radius: 10px;
	color: white;
	background-color: blue;
	border: solid;
	cursor: pointer;
}
.hub a{
	font-size: 20px;
	color: blue;
	font-weight: 500;
	margin-bottom: 50px;
}
@media screen and (max-width: 700px){
	.hub a{
		font-size: 15px;
	}
}

/*FOOTER*/
/*FOOTER*/
.footer{
	background-color: #000033;
	margin-top: 180px;
	position: absolute;
	width: 100%;
	height: 600px;
	text-decoration: none;
}
.footer .sosmed{
	margin-top: 100px;
	margin-left: 120px;
}
.footer .nav{
	margin-top: -132px;
	margin-left: 500px;

}
.footer .add{
	margin-top: -164px;
	margin-left: 800px;
}
.footer ul a{
	text-decoration: none;
	font-size: 20px;
	color: white;
}
@media screen and (max-width: 700px){
	.footer .sosmed{
		margin-top: 100px;
		margin-left: 20px;
	}
	.footer .nav{
		margin-top: 50px;
		margin-left: 20px;
	}
	.footer .add{
		margin-top: 50px;
		margin-left: 20px;
	}
}

/* sponsor */
.sp-row .sponsor-img{
	margin-left: 155px;
	text-align: left;
}
.sp-row .sponsor-img h5{
	color: gray;
	margin-left: 100px;
	margin-bottom: -20px;
	margin-top: 15px;
}
.sp-row .sponsor-img .cbn{
	margin-left: 20px;
}
.sp-row .media-img{
	color: gray;
	margin-top: -88px;
	margin-left: 450px;
}
.sp-row .media-img img h5{

}
@media screen and (max-width: 700px){
	.sp-row .sponsor-img {
		margin-left: -80px;
		text-align: left;
	}
	.sp-row .sponsor-img h5 {
		color: gray;
		font-size: 20px;
		margin-left: 100px;
		margin-bottom: -20px;
		margin-top: 15px;
	}
	.sp-row .sponsor-img .cbn {
		margin-left: 100px;
	}
	.sp-row .media-img{
		margin-top: -60px;
		margin-left: 200px;
	}
	.sp-row .media-img h5{
		font-size: 20px;
	}
	.sp-row .media-img .kp{
		width: 50%;
	}
}


/* CARD */
.card{
	transition: 1s;
	border-radius: 20px;
	border-color: blue;
}
.card:hover{
	background-color: blue;
	color: white;
}

/* DS */
.ds{
	margin-left: 0px;
	width: 200px;
	height: 50px;
	font-weight: 500;
	color: white;
	background-color: blue;
	border :solid blue;
	border-radius: 10px;
	cursor: pointer;
	transition: 0.5s;
	margin-bottom: -200px;
}
.ds:hover {
	margin-top: -5px;
}
.sel {
	margin-left: 20px;
	width: 200px;
	height: 50px;
	font-weight: 500;
	color: blue;
	background-color: white;
	border: solid blue;
	border-radius: 10px;
	cursor: pointer;
	transition: 0.5s;
	margin-bottom: -200px;
}
.container a{

	font-weight: 500;
}
@media screen and (max-width: 700px){
	.sel{
		margin-top: 20px;
		margin-left: -1px;
	}
	.container p{
		font-size: 15px;
		font-weight: 500;
		font-family: Arial, Helvetica, sans-serif;
	}
}

.navbar .logo{
	margin-right: 10px;
	margin-left: 10px;
}

/* benefit */

.benefit .head{
	padding-top: 100px;
	text-align: center;
}
.benefit .head .hadiah{
	width: 100%;
	padding: 150px;
	margin-top: -230px;
	margin-left: -50px;
	margin-bottom: -100px;
}
.benefit .head .tabel{
	margin-top: 100px;
	margin-left: 50px;
	margin-right: 50px;
	width: 90%;
}
.benefit .head p{
	font-weight: 500;
}
.ds2 {
	width: 200px;
	height: 50px;
	font-weight: 500;
	color: white;
	background-color: blue;
	border: solid blue;
	border-radius: 10px;
	cursor: pointer;
	transition: 0.5s;
	margin-bottom: -200px;
}

.ds2:hover {
	margin-top: -5px;
}

@media screen and (max-width: 700px){
	.benefit .head .hadiah {
		width: 150%;
		margin-top: -150px;
		margin-left: -130px;
	}
	
}
.insight .video {
	width: 250px;
	margin-bottom: 10px;
}

@media screen and (max-width: 700px) {
	.insight .video {
		width: 10%;
	}
}
